In [1]:
# Parameters
alpha = 0.6
ratio = 0.1

In [2]:
import requests
import csv
import os
from datetime import datetime
import pandas as pd
from pandas import json_normalize
import sys
import time
from datetime import datetime
from datetime import datetime as dt
from termcolor import colored
import concurrent.futures
from tqdm import tqdm

In [3]:
BASE_URL = "https://staging.data-api.bepro11.com/api"
API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJoYXNoZWRfaWQiOiJiZXByb0FQSUtleV82VTAifQ.eJPGw3z0UF22uLxWWf2OAcGo3jkUYbYnCBF8XUQ842U"

HEADERS = {
    "Authorization": f"Bearer {API_TOKEN}"
}

# Obtener la ruta absoluta del directorio actual (donde está el notebook)
current_dir = os.path.dirname(os.path.abspath('__file__'))

# Subir un nivel para llegar a la raíz del proyecto (BePro)
project_root = os.path.dirname(current_dir)

# Construir la ruta completa desde la raíz del proyecto
BASE_PATH = os.path.join(project_root, "..", "data_backup", "archivos_parquet", "Copa Vasca Cadete")

# Crear el directorio si no existe
os.makedirs(BASE_PATH, exist_ok=True)

# Imprimir la ruta para verificar
print(f"Ruta creada: {BASE_PATH}")

Ruta creada: /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete

In [4]:
# Variable global para almacenar el DataFrame de ligas
df_leagues = None

def create_folder_structure():
    """
    Crea la estructura de carpetas necesaria para almacenar los datos.
    """
    os.makedirs(BASE_PATH, exist_ok=True)
    return BASE_PATH

def getResults(endpoint, params=None):
    """
    Realiza una solicitud a la API de Bepro y devuelve los resultados.
    """
    url = f"{BASE_URL}{endpoint}"
    response = requests.get(url, headers=HEADERS, params=params)
    response.raise_for_status()  # Lanza una excepción si hay un error HTTP
    return response.json()

def save_to_parquet(df, filename, BASE_PATH):
    """
    Guarda el DataFrame en un archivo Parquet.
    """
    file_path = os.path.join(BASE_PATH, filename)
    df.to_parquet(file_path, index=False)
    print(f"Se ha guardado el archivo {filename}")

def get_leagues():
    """
    Obtiene la lista de ligas de la API, la convierte en un DataFrame y la guarda en un Parquet.
    """
    global df_leagues
    leagues = getResults('/leagues')
    
    if leagues['result']:
        df_leagues = json_normalize(leagues['result'])
        BASE_PATH = create_folder_structure()
        save_to_parquet(df_leagues, "leagues.parquet", BASE_PATH)
        print(f"Se han guardado {len(df_leagues)} ligas en leagues.parquet")
        print("DataFrame df_leagues creado y disponible globalmente.")
    else:
        print("No se encontraron datos de ligas")
        df_leagues = pd.DataFrame()  # DataFrame vacío si no hay resultados

def main():
    """
    Función principal que ejecuta todo el proceso de extracción y almacenamiento de datos.
    """
    get_leagues()
    
    if df_leagues is not None and not df_leagues.empty:
        print("\nContenido de df_leagues:")
        print(df_leagues)
    else:
        print("df_leagues está vacío o no se ha creado correctamente.")

if __name__ == "__main__":
    main()

Se ha guardado el archivo leagues.parquet
Se han guardado 6 ligas en leagues.parquet
DataFrame df_leagues creado y disponible globalmente.

Contenido de df_leagues:
     id                       name                           name_en  \
0  1184          Tercera RFEF - G4                              None
1   698      D. Honor Juvenil - G2  División Honor Juvenil - Grupo 2
2  1179          Segunda RFEF - G2                              None
3  1719  División de Honor - Araba         División de Honor - Araba
4  1992          Copa Vasca Cadete                 Copa Vasca Cadete
5  2154          Liga Vasca Cadete                 Liga Vasca Cadete

  iso_country_code age_limit  division                season_ids
0               ES     ADULT      13.0        [1605, 3362, 4104]
1               ES       U19      32.0  [1626, 2399, 3303, 4024]
2               ES     ADULT       6.0        [2382, 3259, 4019]
3               ES     ADULT      32.0                    [2565]
4               ES       U16       NaN                    [3001]
5               ES       U16      61.0        [3728, 3364, 4232]

In [5]:
df_leagues

,id,name,name_en,iso_country_code,age_limit,division,season_ids
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,"[1605, 3362, 4104]"
1,698,D. Honor Juvenil - G2,División Honor Juvenil - Grupo 2,ES,U19,32.0,"[1626, 2399, 3303, 4024]"
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,"[2382, 3259, 4019]"
3,1719,División de Honor - Araba,División de Honor - Araba,ES,ADULT,32.0,[2565]
4,1992,Copa Vasca Cadete,Copa Vasca Cadete,ES,U16,NaN,[3001]
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,"[3728, 3364, 4232]"

In [6]:
df_league_seasons = df_leagues.explode('season_ids')
df_league_seasons.rename(columns={'season_ids': 'season_id'}, inplace=True)
df_league_seasons

,id,name,name_en,iso_country_code,age_limit,division,season_id
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,1605
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,3362
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,4104
1,698,D. Honor Juvenil - G2,División Honor Juvenil - Grupo 2,ES,U19,32.0,1626
1,698,D. Honor Juvenil - G2,División Honor Juvenil - Grupo 2,ES,U19,32.0,2399
1,698,D. Honor Juvenil - G2,División Honor Juvenil - Grupo 2,ES,U19,32.0,3303
1,698,D. Honor Juvenil - G2,División Honor Juvenil - Grupo 2,ES,U19,32.0,4024
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,2382
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,3259
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,4019
3,1719,División de Honor - Araba,División de Honor - Araba,ES,ADULT,32.0,2565
4,1992,Copa Vasca Cadete,Copa Vasca Cadete,ES,U16,NaN,3001
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,3728
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,3364
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,4232

In [7]:
df_seasons_teams = pd.DataFrame()

for indice_fila, fila in df_league_seasons.iterrows():
    try:
      endpoint = '/seasons/' + str(fila['season_id'])
      season = getResults(endpoint)

      if(season['result']):
        print(season['result'])

        df_season = json_normalize(season['result'])
        df_seasons_teams = pd.concat([df_seasons_teams,df_season])

        
    except Exception as error:
      pass

df_seasons_teams.rename(columns={'id': 'season_id'}, inplace=True)
df_seasons_teams.drop_duplicates(subset=['league_id','season_id'], inplace=True)
df_seasons_teams.to_parquet(os.path.join(BASE_PATH, 'seasons_teams.parquet'), index=False)

df_seasons_teams

{'id': 1605, 'name': '21/22', 'season_group_name': '21/22', 'league_id': 1184, 'team_ids': [6638, 6830, 7411, 7419, 7680, 7740, 7752, 7753, 7774, 7791, 7826, 7830, 7894, 7953, 8022, 8181, 8199, 9848, 11025, 11026], 'start_year': 2021, 'end_year': 2022}

{'id': 3362, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 1184, 'team_ids': [6638, 7411, 7680, 7740, 7752, 7753, 7791, 7826, 7894, 7953, 8022, 8181, 8542, 8598, 9848, 13048, 13054, 15447], 'start_year': 2023, 'end_year': 2024}

{'id': 4104, 'name': '24/25', 'season_group_name': '24/25', 'league_id': 1184, 'team_ids': [6638, 7411, 7740, 7752, 7753, 7791, 7826, 7878, 7894, 7953, 8181, 8542, 8598, 12966, 13048, 13051, 15447, 19626], 'start_year': 2024, 'end_year': 2025}

{'id': 1626, 'name': '21/22', 'season_group_name': '21/22', 'league_id': 698, 'team_ids': [6375, 6376, 7724, 7778, 7895, 7955, 7986, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8505, 10421, 11120, 11121], 'start_year': 2021, 'end_year': 2022}

{'id': 2399, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 698, 'team_ids': [6375, 7724, 7778, 7892, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 8505, 10421, 12221, 16019], 'start_year': 2022, 'end_year': 2023}

{'id': 3303, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 698, 'team_ids': [3378, 6375, 7724, 7779, 7892, 7955, 7998, 8090, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 9118, 12221, 26989, 26990], 'start_year': 2023, 'end_year': 2024}

{'id': 4024, 'name': '24/25', 'season_group_name': '24/25', 'league_id': 698, 'team_ids': [6375, 7724, 7760, 7778, 7892, 7955, 7998, 8138, 8200, 8239, 8242, 8283, 8292, 8293, 8460, 12159], 'start_year': 2024, 'end_year': 2025}

{'id': 2382, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 1179, 'team_ids': [7410, 7419, 7608, 7750, 7791, 7877, 7890, 8194, 9782, 9995, 10447, 11015, 11016, 11020, 11138, 11151, 13023, 15934, 15936, 15937], 'start_year': 2022, 'end_year': 2023}
{'id': 3259, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 1179, 'team_ids': [6830, 7245, 7410, 7419, 7420, 7608, 7750, 7890, 7989, 8194, 9995, 11016, 11019, 11151, 13020, 13797, 15934, 16301], 'start_year': 2023, 'end_year': 2024}

{'id': 4019, 'name': '24/25', 'season_group_name': '24/25', 'league_id': 1179, 'team_ids': [7410, 7419, 7420, 7608, 7680, 7750, 7890, 7989, 8194, 8509, 10448, 11155, 12987, 13797, 15934, 15936, 16285, 16301], 'start_year': 2024, 'end_year': 2025}

{'id': 2565, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 1719, 'team_ids': [7942, 9845, 11025, 15447, 16683, 16994, 17068, 17236, 17383, 17764, 17847, 17925, 18300, 18508, 18632, 18902, 19160, 19323, 19626], 'start_year': 2022, 'end_year': 2023}
{'id': 3001, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 1992, 'team_ids': [7757, 7780, 7893, 7897, 7898, 7939, 8019, 8197], 'start_year': 2022, 'end_year': 2023}

{'id': 3728, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 2154, 'team_ids': [7749, 7757, 7780, 7893, 7897, 7898, 7939, 7951, 8019, 8024, 8131, 8137, 8197, 8282, 8323, 8359, 11950, 12120, 16990], 'start_year': 2022, 'end_year': 2023}

{'id': 3364, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 2154, 'team_ids': [7749, 7757, 7780, 7893, 7897, 7898, 7939, 7951, 8019, 8131, 8197, 8241, 8282, 8323, 9818, 12120, 12139, 13081], 'start_year': 2023, 'end_year': 2024}

{'id': 4232, 'name': '24/25', 'season_group_name': '24/25', 'league_id': 2154, 'team_ids': [7749, 7757, 7780, 7893, 7897, 7898, 7939, 8019, 8131, 8137, 8197, 8241, 8282, 8996, 12120, 12139, 12143, 12735], 'start_year': 2024, 'end_year': 2025}

,season_id,name,season_group_name,league_id,team_ids,start_year,end_year
0,1605,21/22,21/22,1184,"[6638, 6830, 7411, 7419, 7680, 7740, 7752, 775...",2021,2022
0,3362,23/24,23/24,1184,"[6638, 7411, 7680, 7740, 7752, 7753, 7791, 782...",2023,2024
0,4104,24/25,24/25,1184,"[6638, 7411, 7740, 7752, 7753, 7791, 7826, 787...",2024,2025
0,1626,21/22,21/22,698,"[6375, 6376, 7724, 7778, 7895, 7955, 7986, 799...",2021,2022
0,2399,22/23,22/23,698,"[6375, 7724, 7778, 7892, 7998, 8138, 8200, 824...",2022,2023
0,3303,23/24,23/24,698,"[3378, 6375, 7724, 7779, 7892, 7955, 7998, 809...",2023,2024
0,4024,24/25,24/25,698,"[6375, 7724, 7760, 7778, 7892, 7955, 7998, 813...",2024,2025
0,2382,22/23,22/23,1179,"[7410, 7419, 7608, 7750, 7791, 7877, 7890, 819...",2022,2023
0,3259,23/24,23/24,1179,"[6830, 7245, 7410, 7419, 7420, 7608, 7750, 789...",2023,2024
0,4019,24/25,24/25,1179,"[7410, 7419, 7420, 7608, 7680, 7750, 7890, 798...",2024,2025
0,2565,22/23,22/23,1719,"[7942, 9845, 11025, 15447, 16683, 16994, 17068...",2022,2023
0,3001,22/23,22/23,1992,"[7757, 7780, 7893, 7897, 7898, 7939, 8019, 8197]",2022,2023
0,3728,22/23,22/23,2154,"[7749, 7757, 7780, 7893, 7897, 7898, 7939, 795...",2022,2023
0,3364,23/24,23/24,2154,"[7749, 7757, 7780, 7893, 7897, 7898, 7939, 795...",2023,2024
0,4232,24/25,24/25,2154,"[7749, 7757, 7780, 7893, 7897, 7898, 7939, 801...",2024,2025

<h2 style="color:yelow;">PONER LA LEAGUE_ID QUE DESEO EXTRAER</h2>

In [8]:
# Establecer la Liga que deseas extraer
league_id = 1992

# Extraer solamente las season_id relacionadas con la league_id
season_resultantes = df_seasons_teams[df_seasons_teams['league_id'] == league_id]['season_id'].unique().tolist()

print(f"Season IDs para la liga {league_id}: {season_resultantes}")

Season IDs para la liga 1992: [3001]

In [9]:

def process_league_data(df_seasons_teams, league_id):
    """
    Procesa los datos de una liga específica.
    
    :param df_seasons_teams: DataFrame con los datos de temporadas y equipos
    :param league_id: ID de la liga a procesar
    :return: Tupla con el nombre del DataFrame y el DataFrame procesado
    """
    # Filtrar solo la liga especificada
    df_filtered = df_seasons_teams[df_seasons_teams['league_id'] == league_id]
    
    # Realizar las operaciones en los datos filtrados
    df_teams = df_filtered.explode('team_ids')
    df_teams.rename(columns={'id': 'season_id', 'team_ids': 'team_id'}, inplace=True)
    df_teams.drop_duplicates(subset=['team_id', 'league_id', 'season_id'], inplace=True)
    
    # Crear un nombre dinámico para el DataFrame
    df_name = f"df_teams_{league_id}"
    
    # Guardar el DataFrame en un archivo Parquet
    os.makedirs(BASE_PATH, exist_ok=True)
    df_teams.to_parquet(os.path.join(BASE_PATH, f'teams_league_{league_id}.parquet'), index=False)
    
    print(f"Datos procesados para la liga {league_id}:")
    print(df_teams.head())
    
    # Contar el número de filas
    num_rows = len(df_teams)
    print(f"Número de filas en el DataFrame: {num_rows}")
    
    return df_name, df_teams

# Uso de la función
df_name, df_processed = process_league_data(df_seasons_teams, league_id)

# El DataFrame procesado ahora está disponible con un nombre dinámico
globals()[df_name] = df_processed

print(f"\nEl DataFrame '{df_name}' ha sido creado y guardado.")
print(f"Número total de Equipos en {df_name}: {len(globals()[df_name])}")

Datos procesados para la liga 1992:
   season_id   name season_group_name  league_id team_id  start_year  end_year
0       3001  22/23             22/23       1992    7757        2022      2023
0       3001  22/23             22/23       1992    7780        2022      2023
0       3001  22/23             22/23       1992    7893        2022      2023
0       3001  22/23             22/23       1992    7897        2022      2023
0       3001  22/23             22/23       1992    7898        2022      2023
Número de filas en el DataFrame: 8

El DataFrame 'df_teams_1992' ha sido creado y guardado.
Número total de Equipos en df_teams_1992: 8

In [10]:
df_teams = pd.DataFrame()
df_teams_players = pd.DataFrame()

In [11]:
# Crear un DataFrame vacío para acumular todos los datos
df_all_team_players = pd.DataFrame()

for indice_fila, fila in df_seasons_teams.iterrows():
    if fila['season_id'] in season_resultantes:  # Solo procesa las temporadas en season_resultantes
        try:
            teams = getResults('/teams', {'season': fila['season_id']})
            
            if teams['result']:
                df_team = json_normalize(teams['result'])
                
                df_team['season_id'] = fila['season_id']
                df_team.rename(columns={'id': 'team_id'}, inplace=True)
                
                df_teams = pd.concat([df_teams, df_team])
                
                # Procesar players
                df_team_players = df_team.explode('player_ids')
                df_team_players.rename(columns={'id': 'team_id', 'player_ids': 'player_id'}, inplace=True)
                
                # Acumular en el DataFrame general
                df_all_team_players = pd.concat([df_all_team_players, df_team_players], ignore_index=True)
                print(f"✓ Temporada {fila['season_id']}: {len(df_team_players)} registros procesados")
                
        except Exception as error:
            print(f"❌ Error procesando temporada {fila['season_id']}: {error}")


print(f"Procesamiento completado. df_teams contiene {len(df_teams)} filas.")

✓ Temporada 3001: 43 registros procesados
Procesamiento completado. df_teams contiene 8 filas.

In [12]:
df_teams

,team_id,name,name_en,iso_country_code,player_ids,season_id
0,7757,Real Sociedad Cad. A,Real Sociedad Cad. A,ES,[],3001
1,7780,Athletic Club Cad. A,Athletic Bilbao Cad. A,ES,[],3001
2,7893,CD Kostkas Cad. A,CD Kostkas Cad. A,ES,[],3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,"[366344, 366343, 366342, 366341, 366340, 36633...",3001
4,7898,Antiguoko KE Cad. A,Antiguoko KE Cad. A,ES,[],3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,"[331249, 331250, 331254, 331256, 331257, 33125...",3001
6,8019,Romo Cad. A,Arenas - Romo Cad. A,ES,[],3001
7,8197,CD Vasconia Cad. A,CD Vasconia Cad. A,ES,[],3001

In [13]:
print(len(df_teams))

8

In [14]:
# Eliminar duplicados y guardar el archivo sin el season_id en el nombre
df_teams.drop_duplicates(subset=['team_id', 'season_id'], inplace=True)
# Guardar el DataFrame acumulado en un único archivo Parquet
output_path = os.path.join(BASE_PATH, f'teams_league_{league_id}.parquet')
df_teams.to_parquet(output_path, index=False)

print(f"Archivo guardado en: {output_path}")

Archivo guardado en: /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/teams_league_1992.parquet

In [15]:
df_teams_players = df_teams.explode('player_ids')
df_teams_players.rename(columns={'id':'team_id','player_ids': 'player_id'}, inplace=True)

In [16]:
print(len(df_teams_players))

43

In [17]:
df_teams_players.drop_duplicates(subset=['player_id','team_id','season_id'], inplace=True)
df_teams_players.head(100)

,team_id,name,name_en,iso_country_code,player_id,season_id
0,7757,Real Sociedad Cad. A,Real Sociedad Cad. A,ES,NaN,3001
1,7780,Athletic Club Cad. A,Athletic Bilbao Cad. A,ES,NaN,3001
2,7893,CD Kostkas Cad. A,CD Kostkas Cad. A,ES,NaN,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366344,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366343,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366342,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366341,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366340,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366331,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366338,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366332,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,121382,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,251457,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366336,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366335,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,251459,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366333,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396719,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396718,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396717,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396716,3001
4,7898,Antiguoko KE Cad. A,Antiguoko KE Cad. A,ES,NaN,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331249,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331250,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331254,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331256,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331257,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331259,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331261,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331263,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331264,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331266,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331247,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331251,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331252,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331253,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331265,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331267,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331268,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331269,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,396434,3001
6,8019,Romo Cad. A,Arenas - Romo Cad. A,ES,NaN,3001
7,8197,CD Vasconia Cad. A,CD Vasconia Cad. A,ES,NaN,3001

In [18]:
# Guardar el DataFrame acumulado en un único archivo Parquet
output_path = os.path.join(BASE_PATH, f'players_league_{league_id}.parquet')
df_teams_players.to_parquet(output_path, index=False)

print(f"Archivo guardado en: {output_path}")

Archivo guardado en: /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/players_league_1992.parquet

In [19]:
if len(df_teams_players) > 0:
    names_team_players = pd.DataFrame()
    total_jugadores = len(df_teams_players)
    jugadores_procesados = 0
    batch_size = 50  # Procesar jugadores en lotes
    
    # Agrupar por equipo y temporada para procesar en lotes
    for (team_id, season_id), grupo in df_teams_players.groupby(['team_id', 'season_id']):
        try:
            # Llamada única a la API por equipo y temporada
            team_players = getResults('/players', {
                'team': team_id,
                'season': season_id,
                'limit': 200  # Aumentar límite para obtener más jugadores por llamada
            })
            
            if team_players['result']:
                ed = json_normalize(team_players['result'])
                if not ed.empty:
                    ed['team_id'] = team_id
                    ed['season_id'] = season_id
                    ed.rename(columns={'id': 'player_id'}, inplace=True)
                    
                    # Convertir tipos de datos
                    ed['team_id'] = ed['team_id'].astype(int)
                    ed['season_id'] = ed['season_id'].astype(int)
                    ed['player_id'] = ed['player_id'].astype(float)
                    
                    names_team_players = pd.concat([names_team_players, ed], ignore_index=True)
                    jugadores_procesados += len(ed)
                    
                    # Mostrar progreso cada 100 jugadores
                    if jugadores_procesados % 100 == 0:
                        print(f"Progreso: {jugadores_procesados} jugadores procesados")
            
        except Exception as e:
            print(f"❌ Error en equipo {team_id}, temporada {season_id}: {str(e)}")
            continue

    # Verificación y guardado
    if not names_team_players.empty:
        names_team_players.drop_duplicates(subset=['player_id', 'team_id', 'season_id'], inplace=True)
        output_path = os.path.join(BASE_PATH, f'names_players_league_{league_id}.parquet')
        names_team_players.to_parquet(output_path, index=False)
        print(f"\nCompletado: {len(names_team_players)} jugadores guardados en {output_path}")
    else:
        print("❌ No se recopilaron datos")
else:
    print("No hay jugadores para procesar")

Completado: 37 jugadores guardados en /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/names_players_league_1992.parquet

In [20]:
df_teams_players

,team_id,name,name_en,iso_country_code,player_id,season_id
0,7757,Real Sociedad Cad. A,Real Sociedad Cad. A,ES,NaN,3001
1,7780,Athletic Club Cad. A,Athletic Bilbao Cad. A,ES,NaN,3001
2,7893,CD Kostkas Cad. A,CD Kostkas Cad. A,ES,NaN,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366344,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366343,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366342,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366341,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366340,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366331,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366338,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366332,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,121382,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,251457,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366336,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366335,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,251459,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,366333,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396719,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396718,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396717,3001
3,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,396716,3001
4,7898,Antiguoko KE Cad. A,Antiguoko KE Cad. A,ES,NaN,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331249,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331250,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331254,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331256,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331257,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331259,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331261,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331263,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331264,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331266,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331247,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331251,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331252,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331253,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331265,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331267,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331268,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,331269,3001
5,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,396434,3001
6,8019,Romo Cad. A,Arenas - Romo Cad. A,ES,NaN,3001
7,8197,CD Vasconia Cad. A,CD Vasconia Cad. A,ES,NaN,3001

In [21]:
names_team_players

,player_id,root_player_id,player_name,player_last_name,player_name_en,player_last_name_en,back_number,player_role,main_position,team_id,birth_date,season_id
0,366344.0,350055,Izan,Server Gervais,Izan,Server Gervais,1,None,GK,7897,None,3001
1,366343.0,350054,Jorge,Gomez Silgo,Jorge,Gomez Silgo,2,None,RB,7897,None,3001
2,366342.0,350053,David,Demkiv Geca,David,Demkiv Geca,3,None,LB,7897,None,3001
3,366341.0,350052,Testimony,Onukwuru Onukwuru,Testimony,Onukwuru Onukwuru,4,None,CB,7897,None,3001
4,366340.0,350051,Almehdi,Ajana Chaghouaoui,Almehdi,Ajana Chaghouaoui,5,None,CB,7897,None,3001
5,366331.0,350042,Alejandro,Dolera Lopez,Alejandro,Dolera Lopez,6,None,CDM,7897,None,3001
6,366338.0,350049,Ander,Ibañez Alcantara,Ander,Ibanez Alcantara,7,None,RW,7897,None,3001
7,366332.0,350043,Raul,Perez Cortes,Raul,Perez Cortes,9,None,CAM,7897,None,3001
8,121382.0,75421,Unax,Ariza Fernandez,Unax,Ariza Fernandez,10,None,CM,7897,None,3001
9,251457.0,233833,Biniam,Gonzalez,Biniam,Gonzalez,11,None,LW,7897,None,3001
10,366336.0,350047,Endika,ALonso Baroja,Endika,ALonso Baroja,12,None,CF,7897,None,3001
11,366335.0,350046,Jon,Marrero Aragon,Jon,Marrero Aragon,14,None,LW,7897,None,3001
12,251459.0,233835,Aitor,Suberviola,Aitor,Suberviola,17,None,CM,7897,None,3001
13,366333.0,350044,Marcos,Sevilla Oñez,Marcos,Sevilla Onez,18,None,CB,7897,None,3001
14,396719.0,380138,Ugaitz,Garoña Del Val,Ugaitz,Garona Del Val,8,None,CM,7897,None,3001
15,396718.0,380137,Oier,Mugica Vicario,Oier,Mugica Vicario,13,None,GK,7897,None,3001
16,396717.0,380136,Oier,Saez De Vicuña Gomez,Oier,Saez De Vicuna Gomez,15,None,CM,7897,None,3001
17,396716.0,380135,Gabriel,Vivian Sanchez,Gabriel,Vivian Sanchez,3,None,CB,7897,None,3001
18,331249.0,315357,Oier,Tomás,Oier,Tomas,3,None,LB,7939,None,3001
19,331250.0,315358,Unax,Alonso,Unax,Alonso,4,None,CB,7939,None,3001
20,331254.0,315362,Mohamed Yacob,Sellah,Mohamed Yacob,Sellah,8,None,CM,7939,None,3001
21,331256.0,315364,Ander,Bizkarguenaga,Ander,Bizkarguenaga,10,None,CM,7939,None,3001
22,331257.0,315365,Pablo,Villaba,Pablo,Villaba,11,None,LF,7939,None,3001
23,331259.0,315367,Jorge,Fuente,Jorge,Fuente,13,None,GK,7939,None,3001
24,331261.0,315369,Dani,Gaza,Dani,Gaza,16,None,CB,7939,None,3001
25,331263.0,315371,Diego Miguel,Cabezuelo,Diego Miguel,Cabezuelo,18,None,CDM,7939,None,3001
26,331264.0,315372,Aner,Alberdi Bengoa,Aner,Alberdi Bengoa,23,None,LF,7939,None,3001
27,331266.0,315374,Jon,Ortiz,Jon,Ortiz,21,None,CF,7939,None,3001
28,331247.0,315355,Iker,García,Iker,Garcia,1,None,None,7939,None,3001
29,331251.0,315359,Eneko,Urkola Arriaga,Eneko,Urkola Arriaga,5,None,CB,7939,None,3001
30,331252.0,315360,Markel,Garitagoitia,Markel,Garitagoitia,6,None,None,7939,None,3001
31,331253.0,315361,Hugo,Aldazabal,Hugo,Aldazabal,7,None,CF,7939,None,3001
32,331265.0,315373,Alex,Ermeling,Alex,Ermeling,20,None,LB,7939,None,3001
33,331267.0,315375,Markel,Intxaurraga,Markel,Intxaurraga,22,None,CDM,7939,None,3001
34,331268.0,315376,Yeabsera,Hidalgo,Yeabsera,Hidalgo,23,None,RF,7939,None,3001
35,331269.0,315377,Urko,Iza Aldekoa-Otalora,Urko,Iza Aldekoa-Otalora,24,None,LB,7939,None,3001
36,396434.0,379853,Unknown,,Unknown,,,None,RB,7939,None,3001

In [22]:
len(names_team_players)

37

In [23]:
import pandas as pd
from pandas import json_normalize
import os

if len(df_league_seasons) > 0:
    # Inicializamos los DataFrames
    df_matches = pd.DataFrame()  # DataFrame para todos los partidos
    df_matches_new = pd.DataFrame()  # DataFrame para los partidos nuevos
    total_seasons = len(season_resultantes)
    processed_seasons = 0
    
    # Verificar si existe el archivo parquet y cargarlo
    output_path = os.path.join(BASE_PATH, f'matches_league_{league_id}.parquet')
    existing_matches = pd.DataFrame()
    if os.path.exists(output_path):
        existing_matches = pd.read_parquet(output_path)
        print(f"Archivo existente cargado con {len(existing_matches)} partidos")
        existing_match_ids = set(existing_matches['match_id'])
    else:
        existing_match_ids = set()
        print("No se encontró archivo existente. Se procesarán todos los partidos.")

    for indice_fila, fila in df_league_seasons.iterrows():
        if fila['season_id'] in season_resultantes:
            processed_seasons += 1
            print(f'\nProcesando Season {fila.season_id} ({processed_seasons}/{total_seasons})')
            
            try:
                # Llama a la API pasando 'season_id'
                matches = getResults('/matches', {'season': fila['season_id']})
                
                if matches['result']:
                    df_season_matches = json_normalize(matches['result'])
                    print(f"Cantidad de partidos en la temporada {fila['season_id']}: {len(df_season_matches)}")
                    
                    # Renombrar columnas
                    df_season_matches.rename(columns={
                        'id': 'match_id',
                        'home_team.id': 'home_team_id',
                        'away_team.id': 'away_team_id',
                        'detail_match_result.home_team_score': 'home_team_score',
                        'detail_match_result.away_team_score': 'away_team_score',
                        'round.id': 'round_id',
                        'round.name': 'round_name',
                        'season.id': 'season_id',
                        'season.name': 'season_name',
                        'season.season_group_name': 'season_group_name',
                        'season.league_id': 'league_id',
                        'home_team.name': 'home_team_name',
                        'home_team.name_en': 'home_team_name_en',
                        'home_team.iso_country_code': 'home_team_iso_country_code',
                        'away_team.name': 'away_team_name',
                        'away_team.name_en': 'away_team_name_en',
                        'away_team.iso_country_code': 'away_team_iso_country_code',
                        'venue.id': 'venue_id',
                        'venue.display_name': 'venue_display_name',
                        'venue.ground_width': 'venue_ground_width',
                        'venue.ground_height': 'venue_ground_height'
                    }, inplace=True)
                    
                    # Filtrar solo los partidos nuevos
                    new_matches = df_season_matches[~df_season_matches['match_id'].isin(existing_match_ids)]
                    print(f"Partidos nuevos encontrados en esta temporada: {len(new_matches)}")
                    
                    # Agregar los nuevos partidos a ambos DataFrames
                    df_matches = pd.concat([df_matches, df_season_matches], ignore_index=True)
                    df_matches_new = pd.concat([df_matches_new, new_matches], ignore_index=True)
                    
                else:
                    print(f"No se encontraron partidos para la temporada {fila['season_id']}")
                    
            except Exception as e:
                print(f"Error procesando temporada {fila['season_id']}: {str(e)}")
                continue

    # Verificar duplicados y guardar los partidos
    if len(df_matches) > 0:
        # Eliminar posibles duplicados
        df_matches.drop_duplicates(subset=['match_id'], inplace=True)
        df_matches_new.drop_duplicates(subset=['match_id'], inplace=True)
        
        # Mostrar resumen
        print("\nResumen de partidos por temporada:")
        season_counts = df_matches['season_id'].value_counts()
        for season_id, count in season_counts.items():
            print(f"Temporada {season_id}: {count} partidos")
        
        # Si hay partidos nuevos, actualizar el archivo
        if len(df_matches_new) > 0:
            # Combinar partidos existentes con nuevos
            if len(existing_matches) > 0:
                df_matches = pd.concat([existing_matches, df_matches_new], ignore_index=True)
            else:
                df_matches = df_matches_new
                
            # Guardar en Parquet
            df_matches.to_parquet(output_path, index=False)
            print(f"\nSe han encontrado {len(df_matches_new)} partidos nuevos")
            print(f"Se ha actualizado el archivo con un total de {len(df_matches)} partidos en: {output_path}")
        else:
            print("\nNo se encontraron partidos nuevos para agregar")

Archivo existente cargado con 5 partidos

Procesando Season 3001 (1/1)

Cantidad de partidos en la temporada 3001: 5
Partidos nuevos encontrados en esta temporada: 0

Resumen de partidos por temporada:
Temporada 3001: 5 partidos

No se encontraron partidos nuevos para agregar

In [24]:
df_matches

,match_id,start_time,full_time,half_time_duration,extra_full_time,extra_match_result,venue,location_name,is_analysis_finished,live_analysing,...,away_team_id,away_team_name,away_team_name_en,away_team_iso_country_code,home_team_score,away_team_score,venue_id,venue_display_name,venue_ground_width,venue_ground_height
0,94473,2023-05-19 17:00:00+02:00,90,45,0,None,NaN,Fanderia,False,False,...,7897,Deportivo Alavés Cad. A,Deportivo Alavés U16,ES,0,0,NaN,NaN,NaN,NaN
1,93859,2023-05-14 12:30:00+02:00,90,45,0,None,NaN,Kostkas,False,False,...,8019,Romo Cad. A,Arenas - Romo Cad. A,ES,0,0,NaN,NaN,NaN,NaN
2,93857,2023-05-14 11:30:00+02:00,80,40,0,None,NaN,Ibaia A3,True,False,...,7939,SD Eibar Cad. A,SD Eibar Cad. A,ES,2,1,357.0,Ibaia A3,104.0,64.0
3,93856,2023-05-13 11:30:00+02:00,90,45,0,None,NaN,Lezama,False,False,...,8197,CD Vasconia Cad. A,CD Vasconia Cad. A,ES,0,0,NaN,NaN,NaN,NaN
4,93855,2023-05-13 10:30:00+02:00,90,45,0,None,NaN,Zubieta,False,False,...,7898,Antiguoko KE Cad. A,Antiguoko KE Cad. A,ES,0,0,NaN,NaN,NaN,NaN

In [25]:
def convertStringToFecha(start_time):
  try:
    fecha = start_time
    fecha = fecha.split(" ")[0]
    fecha = fecha.split("-")[2] + '/' + fecha.split("-")[1] + '/' + fecha.split("-")[0]
  except:
    fecha=''
  return fecha

def convertStringToHora(start_time):
  try:
    hora = start_time
    hora = hora.split(" ")[1]
    hora = hora.split(":")[0] + ':' + hora.split(":")[1] + ' hs'
  except:
    hora=''
  return hora

In [26]:
import os
import pandas as pd
import concurrent.futures
from tqdm import tqdm
import time

def process_single_match(match_info, existing_ids=None):
    if existing_ids is not None and match_info['match_id'] in existing_ids:
        return None

    df_events = pd.DataFrame()
    offset = 0
    total = 1000
    intentos = 0
    max_intentos = 3

    while total == 1000:
        try:
            event_data = getResults(
                f"/matches/{match_info['match_id']}/event_data",
                {'limit': 5000, 'offset': offset}
            )

            if 'detail' in event_data and event_data['detail'] in ['Match is not analyzed', 'Not found.']:
                break

            if not event_data['result']:
                break

            ed = json_normalize(event_data['result'])
            total = len(ed)

            if total > 0:
                ed['match_id'] = match_info['match_id']
                ed['season_id'] = match_info['season_id']

                if 'event_types' in ed.columns:
                    base_cols = ed.drop('event_types', axis=1)
                    event_type_cols = ed['event_types'].apply(
                        lambda x: pd.Series(x[0]) if x else pd.Series()
                    ).add_suffix('_event_type')
                    ed_expanded = pd.concat([base_cols, event_type_cols], axis=1)
                else:
                    ed_expanded = ed

                df_events = pd.concat([df_events, ed_expanded], ignore_index=True)
                offset += 1000

            time.sleep(0.5)
            intentos = 0

        except Exception as e:
            intentos += 1
            if intentos >= max_intentos:
                print(f"Error máximo alcanzado para partido {match_info['match_id']}: {str(e)}")
                break
            time.sleep(2)

    return df_events

def process_new_matches(df_matches_new, season_resultantes, league_id, batch_size=10):
    output_path = os.path.join(BASE_PATH, f'events_league_{league_id}.parquet')
    
    # Inicializar DataFrame global y cargar datos existentes
    existing_ids = set()
    if os.path.exists(output_path):
        try:
            df_event_data = pd.read_parquet(output_path)
            first_column = df_event_data.columns[0]
            existing_ids = set(df_event_data[first_column].unique())
            print(f"Archivo existente encontrado con {len(existing_ids)} registros únicos")
        except Exception as e:
            print(f"Error al leer archivo existente: {str(e)}")
            df_event_data = pd.DataFrame()
    else:
        df_event_data = pd.DataFrame()

    # Filtrar solo los partidos nuevos que estén en las temporadas seleccionadas
    matches_to_process = df_matches_new[
        df_matches_new['season_id'].isin(season_resultantes)
    ]

    if len(matches_to_process) == 0:
        print("No hay nuevos partidos para procesar")
        return df_event_data

    print(f"Procesando {len(matches_to_process)} partidos nuevos")

    total_batches = (len(matches_to_process) + batch_size - 1) // batch_size

    for batch_idx in range(total_batches):
        start_idx = batch_idx * batch_size
        end_idx = min((batch_idx + 1) * batch_size, len(matches_to_process))
        batch = matches_to_process.iloc[start_idx:end_idx]
        
        print(f"\nProcesando lote {batch_idx + 1}/{total_batches}")
        
        new_events = pd.DataFrame()
        with concurrent.futures.ThreadPoolExecutor(max_workers=5) as executor:
            futures = {
                executor.submit(
                    process_single_match, 
                    row.to_dict(), 
                    existing_ids
                ): row['match_id'] 
                for _, row in batch.iterrows()
            }
            
            for future in tqdm(
                concurrent.futures.as_completed(futures), 
                total=len(futures),
                desc="Progreso del lote"
            ):
                try:
                    match_events = future.result()
                    if match_events is not None and not match_events.empty:
                        first_column = match_events.columns[0]
                        new_records = match_events[~match_events[first_column].isin(existing_ids)]
                        if not new_records.empty:
                            new_events = pd.concat([new_events, new_records], ignore_index=True)
                            existing_ids.update(new_records[first_column].unique())
                except Exception as e:
                    print(f"Error procesando partido: {str(e)}")

        if not new_events.empty:
            df_event_data = pd.concat([df_event_data, new_events], ignore_index=True)
            try:
                df_event_data.to_parquet(output_path, index=False)
                print(f"Progreso guardado: {len(df_event_data)} eventos totales")
            except Exception as e:
                print(f"Error al guardar progreso: {str(e)}")

    return df_event_data

# Uso del código
try:
    # Asumiendo que df_matches_new ya contiene solo los partidos nuevos
    df_event_data = process_new_matches(df_matches_new, season_resultantes, league_id)

    if len(df_event_data) > 0:
        print("\nProcesamiento completado con éxito:")
        print(f"Total de eventos acumulados: {len(df_event_data)}")
        print(f"Eventos guardados en: {os.path.join(BASE_PATH, f'events_league_{league_id}.parquet')}")
    else:
        print("No se generaron nuevos eventos")
except Exception as e:
    print(f"Error en el procesamiento principal: {str(e)}")

Archivo existente encontrado con 1811 registros únicos
No hay nuevos partidos para procesar

Procesamiento completado con éxito:
Total de eventos acumulados: 1811
Eventos guardados en: /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/events_league_1992.parquet

In [27]:
# Ver valores únicos de season_id
unique_seasons = df_event_data['season_id'].unique()
print("\nTemporadas únicas en el dataset:")
print(unique_seasons)

# Si quieres ver también cuántos eventos hay por temporada:
season_counts = df_event_data['season_id'].value_counts()
print("\nNúmero de eventos por temporada:")
print(season_counts)

Temporadas únicas en el dataset:
[3001]

Número de eventos por temporada:
season_id
3001    1811
Name: count, dtype: int64

In [28]:
df_event_data

,id,event_period,event_time,match_id,team_id,player_id,x,y,attack_direction,relative_event.id,...,ball_position.x,ball_position.y,season_id,eventType_event_type,outcome_event_type,cross_event_type,keyPass_event_type,assist_event_type,subEventType_event_type,bodyPart_event_type
0,94200371,FIRST_HALF,1733,93857,7939.0,331266.0,0.492735,0.499003,left,94200372.0,...,NaN,NaN,3001,Pass,Successful,False,False,False,None,None
1,94200372,FIRST_HALF,3966,93857,7939.0,331250.0,0.587625,0.281667,left,NaN,...,NaN,NaN,3001,Pass Received,None,None,None,None,None,None
2,94200381,FIRST_HALF,5366,93857,7939.0,331250.0,0.634713,0.286590,left,94200382.0,...,NaN,NaN,3001,Pass,Unsuccessful,False,False,False,None,None
3,94200382,FIRST_HALF,6466,93857,NaN,NaN,0.608143,0.502629,left,NaN,...,NaN,NaN,3001,None,None,None,None,None,None,None
4,94292365,FIRST_HALF,6533,93857,7897.0,366331.0,0.393323,0.497908,right,NaN,...,NaN,NaN,3001,Error,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806,94326418,SECOND_HALF,5032766,93857,7897.0,396717.0,0.749006,0.586150,left,NaN,...,NaN,NaN,3001,Clearance,None,None,None,None,None,None
1807,94326447,SECOND_HALF,5034200,93857,7897.0,366341.0,0.681975,0.464386,left,94326448.0,...,NaN,NaN,3001,Pass,Successful,False,False,False,None,None
1808,94326448,SECOND_HALF,5035700,93857,7897.0,251459.0,0.566702,0.516348,left,NaN,...,NaN,NaN,3001,Pass Received,None,None,None,None,None,None
1809,94326473,SECOND_HALF,5037166,93857,7897.0,251459.0,0.461903,0.474162,left,94326474.0,...,NaN,NaN,3001,Pass,Unsuccessful,False,False,False,None,None
1810,94326474,SECOND_HALF,5042466,93857,NaN,NaN,0.097751,1.000000,left,NaN,...,NaN,NaN,3001,None,None,None,None,None,None,None

In [29]:
list_team_players = pd.DataFrame()

In [30]:
df_event_data.rename(columns={'id': "event_id"}, inplace=True)
df_event_data = pd.merge(df_event_data, df_teams, left_on="team_id", right_on="team_id", how="left", sort=False, suffixes=('', '_team'))
df_event_data = pd.merge(df_event_data, df_matches, left_on="match_id", right_on="match_id", how="left", sort=False, suffixes=('', '_match'))
df_event_data = pd.merge(df_event_data, names_team_players, left_on="player_id", right_on="player_id", how="left", sort=False, suffixes=('', '_player'))

df_event_data['player_id'] = df_event_data['player_id'].fillna(0)
df_event_data['team_id'] = df_event_data['team_id'].fillna(0)
df_event_data['relative_event.id'] = df_event_data['relative_event.id'].fillna(0)

df_event_data['player_id'] = df_event_data['player_id'].astype(int)
df_event_data['team_id'] = df_event_data['team_id'].astype(int)
df_event_data['relative_event.id'] = df_event_data['relative_event.id'].astype(int)

In [31]:
df_event_data.head()

,event_id,event_period,event_time,match_id,team_id,player_id,x,y,attack_direction,relative_event.id,...,player_name,player_last_name,player_name_en,player_last_name_en,back_number,player_role,main_position,team_id_player,birth_date,season_id_player
0,94200371,FIRST_HALF,1733,93857,7939,331266,0.492735,0.499003,left,94200372,...,Jon,Ortiz,Jon,Ortiz,21,None,CF,7939.0,None,3001.0
1,94200372,FIRST_HALF,3966,93857,7939,331250,0.587625,0.281667,left,0,...,Unax,Alonso,Unax,Alonso,4,None,CB,7939.0,None,3001.0
2,94200381,FIRST_HALF,5366,93857,7939,331250,0.634713,0.286590,left,94200382,...,Unax,Alonso,Unax,Alonso,4,None,CB,7939.0,None,3001.0
3,94200382,FIRST_HALF,6466,93857,0,0,0.608143,0.502629,left,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,94292365,FIRST_HALF,6533,93857,7897,366331,0.393323,0.497908,right,0,...,Alejandro,Dolera Lopez,Alejandro,Dolera Lopez,6,None,CDM,7897.0,None,3001.0

In [32]:
len(df_event_data)

1811

In [33]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS FORMACIONES
all_formations = pd.DataFrame()

def extract_formation_details(row):
    formation = row['formation']
    if isinstance(formation, str):
        formation = ast.literal_eval(formation)
    
    new_rows = []
    for player in formation:
        new_row = row.copy()
        new_row['player_id'] = player['player_id']
        new_row['position_x'] = player['position']['x']
        new_row['position_y'] = player['position']['y']
        new_rows.append(new_row)
    
    return pd.DataFrame(new_rows)

for indice_fila, fila in df_matches.iterrows():
    if fila['season_id'] in season_resultantes:
        total = 1000
        offset = 0
        
        while total == 1000:
            try:
                formation = getResults(f"/matches/{fila['match_id']}/formation", {'limit': 5000, 'offset': offset})
                
                if 'result' in formation and formation['result']:
                    ed = json_normalize(formation['result'])
                    total = len(ed)
                    ed['match_id'] = fila['match_id']
                    ed['season_id'] = fila['season_id']
                    
                    # Extraer detalles de formación
                    expanded_formations = ed.apply(extract_formation_details, axis=1)
                    expanded_formations = pd.concat(expanded_formations.tolist(), ignore_index=True)
                    
                    all_formations = pd.concat([all_formations, expanded_formations], ignore_index=True)
                    
                    offset += 1000
                else:
                    print(f"No se encontraron datos de formación para el partido {fila['match_id']}")
                    break
            
            except requests.exceptions.HTTPError as e:
                if e.response.status_code == 404:
                    print(f"No se encontraron datos de formación para el partido {fila['match_id']}")
                else:
                    print(f"Error al obtener datos para el partido {fila['match_id']}: {e}")
                break
            except Exception as e:
                print(f"Error inesperado al procesar el partido {fila['match_id']}: {e}")
                break

# Eliminar las columnas 'formation' y 'position' si existen
columns_to_drop = ['formation', 'position']
all_formations = all_formations.drop(columns=[col for col in columns_to_drop if col in all_formations.columns])

# Exportar todas las formaciones a un único parquet
if not all_formations.empty:
    output_path = os.path.join(BASE_PATH, f'formations_league_{league_id}.parquet')
    all_formations.to_parquet(output_path, index=False)
    print(f"Se han guardado todas las formaciones en {output_path}")
    print(f"Columnas en el archivo: {all_formations.columns.tolist()}")
    print(f"Total de filas: {len(all_formations)}")
else:
    print("No se encontraron formaciones para exportar.")

print(f"Procesamiento completado. Se procesaron {len(all_formations)} filas de formaciones.")

No se encontraron datos de formación para el partido 94473

No se encontraron datos de formación para el partido 93859

No se encontraron datos de formación para el partido 93856

No se encontraron datos de formación para el partido 93855
Se han guardado todas las formaciones en /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/formations_league_1992.parquet
Columnas en el archivo: ['id', 'team_id', 'event_period', 'changed_time', 'match_id', 'season_id', 'player_id', 'position_x', 'position_y']
Total de filas: 98
Procesamiento completado. Se procesaron 98 filas de formaciones.

In [34]:
all_formations

,id,team_id,event_period,changed_time,match_id,season_id,player_id,position_x,position_y
0,469537,7939,FIRST_HALF,0,93857,3001,331249,0.125,0.250000
1,469537,7939,FIRST_HALF,0,93857,3001,331250,0.625,0.250000
2,469537,7939,FIRST_HALF,0,93857,3001,331254,0.625,0.583333
3,469537,7939,FIRST_HALF,0,93857,3001,331256,0.375,0.583333
4,469537,7939,FIRST_HALF,0,93857,3001,331257,0.875,0.916667
...,...,...,...,...,...,...,...,...,...
93,469638,7939,SECOND_HALF,4875466,93857,3001,331261,0.375,0.250000
94,469638,7939,SECOND_HALF,4875466,93857,3001,331265,0.125,0.250000
95,469638,7939,SECOND_HALF,4875466,93857,3001,331266,0.375,0.916667
96,469638,7939,SECOND_HALF,4875466,93857,3001,331267,0.625,0.583333
97,469638,7939,SECOND_HALF,4875466,93857,3001,331268,0.875,0.750000

In [35]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS ALINEACIONES

# Asumiendo que ya tienes definido season_resultantes y df_matches
all_lineups = pd.DataFrame()

for indice_fila, fila in df_matches.iterrows():
    if fila['season_id'] in season_resultantes:
        total = 1000
        offset = 0
        
        while total == 1000:
            try:
                lineup = getResults(f"/matches/{fila['match_id']}/lineup", {'limit': 5000, 'offset': offset})
                
                if 'result' in lineup and lineup['result']:
                    ed = json_normalize(lineup['result'])
                    total = len(ed)
                    ed['match_id'] = fila['match_id']
                    ed['season_id'] = fila['season_id']
                    
                    # Procesamos las columnas de posición
                    if 'position.x' in ed.columns and 'position.y' in ed.columns:
                        ed['position_x'] = ed['position.x']
                        ed['position_y'] = ed['position.y']
                    
                    # Seleccionamos las columnas relevantes
                    columnas = ['id', 'match_id', 'season_id', 'team_id', 'player_id', 'position_name', 'back_number', 
                                'player_name', 'player_last_name', 'is_starting_lineup', 'position_x', 'position_y']
                    ed = ed[columnas]
                    
                    all_lineups = pd.concat([all_lineups, ed], ignore_index=True)
                    offset += 1000
                else:
                    print(f"No se encontraron alineaciones para el partido {fila['match_id']}")
                    break
            
            except requests.exceptions.HTTPError as e:
                if e.response.status_code == 404:
                    print(f"No se encontraron alineaciones para el partido {fila['match_id']}")
                else:
                    print(f"Error al obtener alineaciones para el partido {fila['match_id']}: {e}")
                break
            except Exception as e:
                print(f"Error inesperado al procesar el partido {fila['match_id']}: {e}")
                break

# Exportar todas las alineaciones a un único parquet
if not all_lineups.empty:
    output_path = os.path.join(BASE_PATH, f'lineups_league_{league_id}.parquet')
    all_lineups.to_parquet(output_path, index=False)
    print(f"Se han guardado todas las alineaciones en {output_path}")
    print(f"Columnas en el archivo: {all_lineups.columns.tolist()}")
    print(f"Total de filas: {len(all_lineups)}")
else:
    print("No se encontraron alineaciones para exportar.")

print(f"Procesamiento completado. Se procesaron {len(all_lineups)} filas de alineaciones.")

No se encontraron alineaciones para el partido 94473

No se encontraron alineaciones para el partido 93859

No se encontraron alineaciones para el partido 93856

No se encontraron alineaciones para el partido 93855
Se han guardado todas las alineaciones en /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/lineups_league_1992.parquet
Columnas en el archivo: ['id', 'match_id', 'season_id', 'team_id', 'player_id', 'position_name', 'back_number', 'player_name', 'player_last_name', 'is_starting_lineup', 'position_x', 'position_y']
Total de filas: 37
Procesamiento completado. Se procesaron 37 filas de alineaciones.

In [36]:
all_lineups.head()

,id,match_id,season_id,team_id,player_id,position_name,back_number,player_name,player_last_name,is_starting_lineup,position_x,position_y
0,2646935,93857,3001,7939,331249,LB,3,Oier,Tomás,True,0.125,0.250000
1,2646936,93857,3001,7939,331250,CB,4,Unax,Alonso,True,0.625,0.250000
2,2646937,93857,3001,7939,331254,CM,8,Mohamed Yacob,Sellah,True,0.625,0.583333
3,2646938,93857,3001,7939,331256,CM,10,Ander,Bizkarguenaga,True,0.375,0.583333
4,2646939,93857,3001,7939,331257,RF,11,Pablo,Villaba,True,0.875,0.916667

In [37]:
# Inicializamos el DataFrame para todas las secuencias
all_sequences = pd.DataFrame()

# Verificar si existe un archivo de secuencias previo
output_path = os.path.join(BASE_PATH, f'sequence_data_league_{league_id}.parquet')
existing_sequences = pd.DataFrame()
if os.path.exists(output_path):
    try:
        existing_sequences = pd.read_parquet(output_path)
        print(f"Archivo existente encontrado con {len(existing_sequences)} secuencias")
    except Exception as e:
        print(f"Error al leer archivo existente: {str(e)}")

# Crear barra de progreso para todos los partidos nuevos
total_matches = len(df_matches_new)
print(f"\nProcesando secuencias para {total_matches} partidos nuevos")

for indice_fila, fila in tqdm(df_matches_new.iterrows(), total=total_matches, desc="Procesando partidos"):
    if fila['season_id'] in season_resultantes:
        total = 1000
        offset = 0
        
        while total == 1000:
            try:
                sequence_data = getResults(
                    f"/matches/{fila['match_id']}/sequence_data", 
                    {'limit': 5000, 'offset': offset}
                )
                
                if 'result' in sequence_data and sequence_data['result']:
                    ed = json_normalize(sequence_data['result'])
                    total = len(ed)
                    
                    if total > 0:
                        # Añadir información del partido
                        ed['match_id'] = fila['match_id']
                        ed['season_id'] = fila['season_id']
                        
                        # Seleccionar las columnas necesarias
                        columns_to_keep = [
                            'team_id', 'match_id', 'season_id', 
                            'event_period', 'start_time', 'end_time', 
                            'event_ids'
                        ]
                        ed = ed[columns_to_keep]
                        
                        # Concatenar con las secuencias existentes
                        all_sequences = pd.concat([all_sequences, ed], ignore_index=True)
                        
                        offset += 1000
                    else:
                        break
                else:
                    print(f"\nNo se encontraron secuencias para el partido {fila['match_id']}")
                    break
                
            except requests.exceptions.HTTPError as e:
                if e.response.status_code == 404:
                    print(f"\nNo se encontraron secuencias para el partido {fila['match_id']}")
                else:
                    print(f"\nError al obtener secuencias para el partido {fila['match_id']}: {e}")
                break
            except Exception as e:
                print(f"\nError inesperado al procesar el partido {fila['match_id']}: {e}")
                break

# Exportar las nuevas secuencias
if not all_sequences.empty:
    # Si hay secuencias existentes, concatenarlas con las nuevas
    if not existing_sequences.empty:
        # Verificar y eliminar posibles duplicados basados en match_id y start_time
        all_sequences = pd.concat([existing_sequences, all_sequences], ignore_index=True)
        all_sequences = all_sequences.drop_duplicates(subset=['match_id', 'start_time'], keep='last')
    
    try:
        # Guardar todas las secuencias
        all_sequences.to_parquet(output_path, index=False)
        print(f"\nSe han guardado todas las secuencias en {output_path}")
        print(f"Columnas en el archivo: {all_sequences.columns.tolist()}")
        print(f"Total de secuencias: {len(all_sequences)}")
        print(f"Total de partidos únicos: {all_sequences['match_id'].nunique()}")
    except Exception as e:
        print(f"\nError al guardar el archivo: {str(e)}")
else:
    print("\nNo se encontraron nuevas secuencias para exportar.")

print(f"\nProcesamiento completado. Se procesaron {len(all_sequences)} secuencias en total.")

Archivo existente encontrado con 588 secuencias

Procesando secuencias para 0 partidos nuevos

Procesando partidos: 0it [00:00, ?it/s]

Procesando partidos: 0it [00:00, ?it/s]

No se encontraron nuevas secuencias para exportar.

Procesamiento completado. Se procesaron 0 secuencias en total.

In [38]:
all_sequences.head()

Empty DataFrame
Columns: []
Index: []

In [39]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS ESTADISTICAS POR EQUIPO
# Asumiendo que ya tienes definido season_resultantes y df_matches
all_team_stats = pd.DataFrame()

for indice_fila, fila in df_matches.iterrows():
    if fila['season_id'] in season_resultantes:
        try:
            team_stats = getResults(f"/matches/{fila['match_id']}/team_stats")
            
            if team_stats and 'result' in team_stats:
                ed = json_normalize(team_stats['result'])
                ed['match_id'] = fila['match_id']
                ed['season_id'] = fila['season_id']
                
                # Expandir la columna 'stats' si existe
                if 'stats' in ed.columns:
                    stats_expanded = pd.json_normalize(ed['stats'])
                    ed = pd.concat([ed.drop('stats', axis=1), stats_expanded], axis=1)
                
                all_team_stats = pd.concat([all_team_stats, ed], ignore_index=True)
            else:
                print(f"No se encontraron team_stats para el partido {fila['match_id']}")
        
        except requests.exceptions.HTTPError as e:
            if e.response.status_code == 404:
                print(f"No se encontraron team_stats para el partido {fila['match_id']}")
            else:
                print(f"Error al obtener team_stats para el partido {fila['match_id']}: {e}")
        except Exception as e:
            print(f"Error inesperado al procesar el partido {fila['match_id']}: {e}")

# Exportar todos los team_stats a un único parquet
if not all_team_stats.empty:
    output_path = os.path.join(BASE_PATH, f'team_stats_league_{league_id}.parquet')
    all_team_stats.to_parquet(output_path, index=False)
    print(f"Se han guardado todos los team_stats en {output_path}")
    print(f"Columnas en el archivo: {all_team_stats.columns.tolist()}")
    print(f"Total de filas: {len(all_team_stats)}")
else:
    print("No se encontraron team_stats para exportar.")

print(f"Procesamiento completado. Se procesaron {len(all_team_stats)} filas de team_stats.")

No se encontraron team_stats para el partido 94473

No se encontraron team_stats para el partido 93859

No se encontraron team_stats para el partido 93856

No se encontraron team_stats para el partido 93855
Se han guardado todos los team_stats en /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/team_stats_league_1992.parquet
Columnas en el archivo: ['team_id', 'stats.goal', 'stats.total_shot', 'stats.shot_on_target', 'stats.shot_off_target', 'stats.shot_blocked', 'stats.shot_in_PA', 'stats.shot_outside_of_PA', 'stats.free_kick', 'stats.corner_kick', 'stats.throw_in', 'stats.penalty_kick', 'stats.pass', 'stats.pass_succeeded', 'stats.pass_failed', 'stats.assist', 'stats.key_pass', 'stats.control_under_pressure', 'stats.cross', 'stats.cross_succeeded', 'stats.final_third_area_pass', 'stats.final_third_area_pass_succeeded', 'stats.middle_area_pass', 'stats.middle_area_pass_succeeded', 'stats.defensive_area_pass', 'stats.defensive_area_pass_succeeded', 'stats.short_pass', 'stats.short_pass_succeeded', 'stats.medium_range_pass', 'stats.medium_range_pass_succeeded', 'stats.long_pass', 'stats.long_pass_succeeded', 'stats.forward_pass', 'stats.forward_pass_succeeded', 'stats.backward_pass', 'stats.backward_pass_succeeded', 'stats.sideways_pass', 'stats.sideways_pass_succeeded', 'stats.tackle', 'stats.tackle_succeeded', 'stats.aerial_duel', 'stats.aerial_duel_succeeded', 'stats.aerial_duel_failed', 'stats.ground_duel', 'stats.ground_duel_succeeded', 'stats.ground_duel_failed', 'stats.loose_ball_duel', 'stats.loose_ball_duel_succeeded', 'stats.loose_ball_duel_failed', 'stats.intercept', 'stats.clearance', 'stats.recovery', 'stats.intervention', 'stats.take_on', 'stats.take_on_succeeded', 'stats.mistake', 'stats.block', 'stats.foul', 'stats.foul_won', 'stats.offside', 'stats.yellow_card', 'stats.red_card', 'stats.own_goal', 'stats.goal_conceded', 'stats.goal_kick', 'stats.goal_kick_succeeded', 'stats.aerial_clearance', 'stats.aerial_clearance_succeeded', 'stats.aerial_clearance_failed', 'stats.defensive_line_support', 'stats.defensive_line_support_succeeded', 'stats.defensive_line_support_failed', 'stats.save_by_catching', 'stats.save_by_punching', 'stats.possession', 'match_id', 'season_id']
Total de filas: 2
Procesamiento completado. Se procesaron 2 filas de team_stats.

In [40]:
all_team_stats.head()

,team_id,stats.goal,stats.total_shot,stats.shot_on_target,stats.shot_off_target,stats.shot_blocked,stats.shot_in_PA,stats.shot_outside_of_PA,stats.free_kick,stats.corner_kick,...,stats.aerial_clearance_succeeded,stats.aerial_clearance_failed,stats.defensive_line_support,stats.defensive_line_support_succeeded,stats.defensive_line_support_failed,stats.save_by_catching,stats.save_by_punching,stats.possession,match_id,season_id
0,7897,2,19,8,9,2,16,3,7,11,...,1,0,0,0,0,0,1,0.492936,93857,3001
1,7939,1,5,2,2,1,2,3,18,1,...,1,1,0,0,0,2,4,0.507064,93857,3001

In [41]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS ESTADISTICAS POR JUGADOR

# Asumiendo que ya tienes definido df_matches, season_resultantes, BASE_PATH y league_id
all_player_stats = pd.DataFrame()

for indice_fila, fila in df_matches.iterrows():
    if fila['season_id'] in season_resultantes:
        try:
            player_stats = getResults(f"/matches/{fila['match_id']}/player_stats")
            
            if 'result' in player_stats and player_stats['result']:
                for team_stats in player_stats['result']:
                    team_id = team_stats['team_id']
                    for player in team_stats['players']:
                        player_data = player['stats']
                        player_data['player_id'] = player['player_id']
                        player_data['team_id'] = team_id
                        player_data['match_id'] = fila['match_id']
                        player_data['season_id'] = fila['season_id']
                        
                        df_player = pd.DataFrame([player_data])
                        all_player_stats = pd.concat([all_player_stats, df_player], ignore_index=True)
            else:
                print(f"No se encontraron estadísticas de jugadores para el partido {fila['match_id']}")
        
        except requests.exceptions.HTTPError as e:
            if e.response.status_code == 404:
                print(f"No se encontraron estadísticas de jugadores para el partido {fila['match_id']}")
            else:
                print(f"Error al obtener datos para el partido {fila['match_id']}: {e}")
        except Exception as e:
            print(f"Error inesperado al procesar el partido {fila['match_id']}: {e}")

# Exportar todas las estadísticas de jugadores a un único parquet
if not all_player_stats.empty:
    output_path = os.path.join(BASE_PATH, f'player_stats_extended_league_{league_id}.parquet')
    all_player_stats.to_parquet(output_path, index=False)
    print(f"Se han guardado todas las estadísticas extendidas de jugadores en {output_path}")
    print(f"Columnas en el archivo: {all_player_stats.columns.tolist()}")
    print(f"Total de filas: {len(all_player_stats)}")
else:
    print("No se encontraron estadísticas extendidas de jugadores para exportar.")

print(f"Procesamiento completado. Se procesaron {len(all_player_stats)} filas de estadísticas extendidas de jugadores.")

No se encontraron estadísticas de jugadores para el partido 94473

No se encontraron estadísticas de jugadores para el partido 93859

No se encontraron estadísticas de jugadores para el partido 93856

No se encontraron estadísticas de jugadores para el partido 93855
Se han guardado todas las estadísticas extendidas de jugadores en /Users/imac/Programas/Datos_API_Bepro/Alaves_Github/BePro/documentacion/../data_backup/archivos_parquet/Copa Vasca Cadete/player_stats_extended_league_1992.parquet
Columnas en el archivo: ['goal', 'total_shot', 'shot_on_target', 'shot_off_target', 'shot_blocked', 'shot_in_PA', 'shot_outside_of_PA', 'free_kick', 'corner_kick', 'throw_in', 'penalty_kick', 'pass', 'pass_succeeded', 'pass_failed', 'assist', 'key_pass', 'control_under_pressure', 'cross', 'cross_succeeded', 'final_third_area_pass', 'final_third_area_pass_succeeded', 'middle_area_pass', 'middle_area_pass_succeeded', 'defensive_area_pass', 'defensive_area_pass_succeeded', 'short_pass', 'short_pass_succeeded', 'medium_range_pass', 'medium_range_pass_succeeded', 'long_pass', 'long_pass_succeeded', 'forward_pass', 'forward_pass_succeeded', 'backward_pass', 'backward_pass_succeeded', 'sideways_pass', 'sideways_pass_succeeded', 'tackle', 'tackle_succeeded', 'aerial_duel', 'aerial_duel_succeeded', 'aerial_duel_failed', 'ground_duel', 'ground_duel_succeeded', 'ground_duel_failed', 'loose_ball_duel', 'loose_ball_duel_succeeded', 'loose_ball_duel_failed', 'intercept', 'clearance', 'recovery', 'intervention', 'take_on', 'take_on_succeeded', 'mistake', 'block', 'foul', 'foul_won', 'offside', 'yellow_card', 'red_card', 'own_goal', 'goal_conceded', 'goal_kick', 'goal_kick_succeeded', 'aerial_clearance', 'aerial_clearance_succeeded', 'aerial_clearance_failed', 'defensive_line_support', 'defensive_line_support_succeeded', 'defensive_line_support_failed', 'save_by_catching', 'save_by_punching', 'rating', 'play_time', 'player_id', 'team_id', 'match_id', 'season_id']
Total de filas: 29
Procesamiento completado. Se procesaron 29 filas de estadísticas extendidas de jugadores.

In [42]:
all_player_stats.head()

,goal,total_shot,shot_on_target,shot_off_target,shot_blocked,shot_in_PA,shot_outside_of_PA,free_kick,corner_kick,throw_in,...,defensive_line_support_succeeded,defensive_line_support_failed,save_by_catching,save_by_punching,rating,play_time,player_id,team_id,match_id,season_id
0,0,3,1,2,0,3,0,4,0,0,...,0,0,0,0,8.13909,4800000,121382,7897,93857,3001
1,1,2,1,1,0,2,0,0,0,0,...,0,0,0,0,7.65833,4800000,251457,7897,93857,3001
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,6.70977,982267,251459,7897,93857,3001
3,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,6.45759,4224166,366331,7897,93857,3001
4,1,4,2,1,1,4,0,0,0,0,...,0,0,0,0,7.61339,4549500,366332,7897,93857,3001

In [43]:
# Ver valores únicos y su frecuencia
print("Frecuencia de cada season_id:")
print(df_matches['season_id'].value_counts())

print("\nValores únicos de season_id:")
print(df_matches['season_id'].unique())

Frecuencia de cada season_id:
season_id
3001    5
Name: count, dtype: int64

Valores únicos de season_id:
[3001]